{{ define "title" }}{{ .Site.Title }}{{ end }}
{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-home{{ end }}
{{ define "header_classes" }}header-transparent{{ end }}

{{ define "meta_tags" }}
<meta name="description" content="{{ .Site.Params.homepage_meta_tags.meta_description }}" />
<meta property="og:title" content="{{ .Site.Params.homepage_meta_tags.meta_og_title }}" />
<meta property="og:type" content="{{ .Site.Params.homepage_meta_tags.meta_og_type }}" />
<meta property="og:url" content="{{ .Site.Params.homepage_meta_tags.meta_og_url }}" />
<meta property="og:image" content="{{ .Site.Params.homepage_meta_tags.meta_og_image }}" />
<meta property="og:description" content="{{ .Site.Params.homepage_meta_tags.meta_og_description }}" />
<meta name="twitter:card" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_card }}" />
<meta name="twitter:site" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_site }}" />
<meta name="twitter:creator" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_creator }}" />
{{ end }}

{{ define "main" }}
{{ partial "hero-image-fullscreen.html" (dict "background" .Params.heroBackground "heading" .Params.heroHeading "subheading" .Params.heroSubHeading "content" .) }}

{{ $eventsPage := .Site.GetPage "/events" }}
<section id="events" class="strip strip-white">
	<div class="container pt-8 pb-8 pt-md-12 pb-md-12">
		<div class="row justify-content-center">
			<div class="col-12 col-lg-9">
				<h2 class="text-primary">Upcoming Events</h2>
				<p class="lead">News from our church and important upcoming and past events.</p>
				{{ $events := $eventsPage.Pages.ByDate.Reverse }}
				{{ if $events }}
				<div class="church-events">
					{{ range first 5 $events }}
					<article class="church-event mb-4">
						<p><time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 2, 2006" }}</time></p>
						<h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
						{{ .Summary }}
					</article>
					{{ end }}
				</div>
				{{ else }}
				<p>Church news and important events will be posted here.</p>
				{{ end }}
			</div>
		</div>
	</div>
</section>
{{ end }}

{{ define "footer_js" }}{{ end }}